In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\shubham\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\shubham\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\shubham\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\shubham\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\shubham\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\shubham\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
data=pd.read_csv(r'C:\Users\SHUBHAM\OneDrive\Desktop\loan data.csv')
data

,CreditScore,FirstPaymentDate,FirstTimeHomebuyer,MaturityDate,MSA,MIP,Units,Occupancy,OCLTV,DTI,...,PostalCode,LoanSeqNum,LoanPurpose,OrigLoanTerm,NumBorrowers,SellerName,ServicerName,EverDelinquent,MonthsDelinquent,MonthsInRepayment
0,0,199902,N,202901,16974,25,1,O,89,27,...,60400,F199Q1268030,P,360,2,FL,WASHINGTONMUTUALBANK,0,0,52
1,0,199902,N,202901,19740,0,1,O,73,17,...,80200,F199Q1015092,N,360,1,FT,CHASEHOMEFINANCELLC,0,0,144
2,0,199902,N,202901,29940,0,1,O,75,16,...,66000,F199Q1266886,N,360,2,FL,WASHINGTONMUTUALBANK,0,0,67
3,0,199902,N,202901,31084,0,1,O,76,14,...,90700,F199Q1178167,N,360,2,GM,GMACMTGECORP,0,0,35
4,0,199902,N,202901,35644,0,1,O,78,18,...,7600,F199Q1178517,N,360,2,GM,GMACMTGECORP,0,0,54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291446,839,199903,N,202902,37964,0,1,O,60,32,...,19400,F199Q1220925,N,360,2,Ot,Other servicers,0,0,12
291447,840,200210,N,202904,35644,0,1,O,73,0,...,11600,F199Q1401332,P,319,2,Ot,Other servicers,0,0,53
291448,840,200304,N,202904,42044,0,1,O,73,31,...,92800,F199Q1401282,N,313,1,Ot,Other servicers,0,0,38
291449,845,199904,N,202903,37964,0,1,I,80,54,...,19300,F199Q1220924,P,360,2,Ot,Other servicers,0,0,32
291450,849,199903,N,202902,37964,0,1,O,47,29,...,18900,F199Q1220923,P,360,2,Ot,Other servicers,0,0,29

In [5]:
data.dtypes

CreditScore             int64
FirstPaymentDate        int64
FirstTimeHomebuyer     object
MaturityDate            int64
MSA                    object
MIP                     int64
Units                   int64
Occupancy              object
OCLTV                   int64
DTI                     int64
OrigUPB                 int64
LTV                     int64
OrigInterestRate      float64
Channel                object
PPM                    object
ProductType            object
PropertyState          object
PropertyType           object
PostalCode             object
LoanSeqNum             object
LoanPurpose            object
OrigLoanTerm            int64
NumBorrowers           object
SellerName             object
ServicerName           object
EverDelinquent          int64
MonthsDelinquent        int64
MonthsInRepayment       int64
dtype: object

In [6]:
cad=[]
for x in data:
    if(data[x].dtype.name=='object'):
        print(x)
        print(data[x].unique())
        cad.append(data[x])

FirstTimeHomebuyer
['N' 'X' 'Y']
MSA
['16974' '19740' '29940' '31084' '35644' 'X    ' '36740' '25540' '48620'
 '12060' '12420' '13140' '13644' '15764' '16700' '16940' '17900' '19124'
 '20500' '20764' '21340' '22380' '22744' '23060' '23104' '24660' '24860'
 '25060' '26900' '27060' '27140' '27260' '28420' '29404' '30780' '31340'
 '33124' '33340' '33460' '34820' '35004' '35084' '35380' '37100' '38060'
 '38300' '38900' '39300' '39340' '39820' '40060' '40140' '40900' '41180'
 '41620' '41700' '41740' '41884' '42044' '42220' '42644' '43900' '46060'
 '46700' '47644' '47894' '49180' '49420' '11340' '12100' '14500' '17820'
 '17860' '19340' '19804' '28140' '29740' '36084' '36500' '37460' '42060'
 '47260' '48424' '12580' '14484' '14860' '19380' '26420' '29420' '29620'
 '36540' '37764' '37860' '37964' '38940' '40380' '45300' '19660' '11300'
 '11460' '12220' '12940' '13820' '13980' '14740' '15540' '16740' '17140'
 '17460' '17780' '22220' '23420' '23844' '24340' '24780' '26180' '27620'
 '31420' '31540' '34980' '35300' '39100' '39580' '39900' '40420' '41940'
 '41980' '42020' '45940' '47300' '48300' '49340' '34100' '35840' '36980'
 '39140' '43620' '15804' '15940' '29820' '32820' '38860' '40484' '41060'
 '44140' '45500' '12540' '10740' '10900' '11540' '12260' '12980' '14260'
 '16180' '16300' '18140' '21140' '22500' '23580' '25260' '26300' '29460'
 '31140' '31900' '32780' '32900' '33260' '33540' '33700' '34940' '36420'
 '37340' '37900' '39740' '41500' '42100' '43340' '44700' '45104' '49020'
 '10420' '10580' '16860' '17980' '22660' '28020' '31020' '35980' '11700'
 '17660' '19500' '20020' '36780' '36100' '42680' '45220' '48900' '22420'
 '33860' '28100' '40660' '26820' '49660' '40580' '14060' '24300' '44600'
 '15980' '23540' '12700' '36260' '30460' '38540' '26620' '45780' '47380'
 '24580' '18880' '15500' '25420' '41420' '44060' '19140' '39540' '19780'
 '40340' '34900' '48864' '15380' '20260' '25860' '29140' '42340' '21780'
 '34740' '33780' '35660' '26580' '24540' '41100' '29540' '21660' '27500'
 '43780' '30860' '28940' '46140' '44100' '22180' '45460' '42540' '33660'
 '49740' '15260' '45060' '13900' '43300' '24140' '31700' '19260' '31180'
 '32580' '18020' '18700' '12020' '27900' '19460' '47220' '27340' '37380'
 '11180' '44180' '39460' '26100' '29020' '40980' '47580' '27180' '15180'
 '20740' '46660' '13740' '13460' '20940' '21300' '43580' '49620' '19180'
 '27740' '30340' '39380' '48140' '49700' '47940' '43100' '27100' '16620'
 '27860' '30620' '20100' '41780' '31860' '17020' '34580' '10500' '18580'
 '34620' '17300' '47020' '44940' '30980' '25180' '38220' '13380' '22540'
 '38340' '22900' '44220' '42140' '22140' '22020' '13020' '30700' '25500'
 '14540' '22520' '10180' '40220' '46340' '14020' '45820' '16580' '11260'
 '28700' '21060' '46220' '20220' '29180' '34060' '39660' '11100' '36140'
 '29100' '16820' '10780' '30140' '26380' '30300' '21820' '28740' '16020'
 '48660' '12620' '27780' '46540' '25620' '33740' '11020' '24500' '48540'
 '29700' '21500' '25020' '24220' '31460' '23460' '37700' '41540' '33140'
 '41660' '30020' '13780' '28660' '16220' '41900' '41140' '37620' '48700'
 '44300' '24020' '17420' '31740' '29340' '19060' '11500' '26980' '25980'
 '36220' '10380' '49500' '21940' '32420']
Occupancy
['O' 'I' 'S']
Channel
['T' 'R' 'C' 'B']
PPM
['N' 'X' 'Y']
ProductType
['FRM  ']
PropertyState
['IL' 'CO' 'KS' 'CA' 'NJ' 'WI' 'FL' 'CT' 'GA' 'TX' 'MD' 'MA' 'SC' 'WY'
 'NC' 'AZ' 'IN' 'MS' 'NY' 'WA' 'AR' 'VA' 'MN' 'LA' 'PA' 'OR' 'RI' 'UT'
 'MI' 'TN' 'AL' 'MO' 'IA' 'NM' 'NV' 'VT' 'OH' 'NE' 'HI' 'ID' 'PR' 'DC'
 'GU' 'KY' 'NH' 'SD' 'ME' 'MT' 'OK' 'WV' 'DE' 'ND' 'AK']
PropertyType
['SF' 'PU' 'CO' 'MH' 'CP' 'LH' 'X ']
PostalCode
['60400' '80200' '66000' ... '33200' '84200' '41300']
LoanSeqNum
['F199Q1268030' 'F199Q1015092' 'F199Q1266886' ... 'F199Q1401282'
 'F199Q1220924' 'F199Q1220923']
LoanPurpose
['P' 'N' 'C']
NumBorrowers
['2' '1' 'X ']
SellerName
['FL' 'FT' 'GM' 'Ot' 'RE' 'NO' 'ST' 'CR' 'CH' 'FI' 'HO' 'PR' nan 'PN' 'WA'
 'BA' 'G ' 'OL' 'AC' 'CO' 'BI']
ServicerName
['WASHINGTONMUTUALBANK' 'CHASEHOMEFINANCELLC ' 'GMACMTGECORP        '
 'Other servicers     ' 'WELLSFARGOBANKNA   ' 'ABNAMROMTGEGROUPINC'
 'BANKOFAMERICANA    ' 'CHASEMANHATTANMTGECO' 'HOMESIDELENDINGINC '
 'CHASEMTGECO         ' 'WELLSFARGOHOMEMORTGA' 'PRINCIPALRESIDENTIAL'
 'CITIMORTGAGEINC    ' 'JPMORGANCHASEBANKNA' 'BAMORTGAGELLC      '
 'NATLCITYMTGECO      ' 'FTMTGESERVICESINC  ' 'SUNTRUSTMORTGAGEINC'
 'COUNTRYWIDE         ' 'FIFTHTHIRDBANK      ']

In [7]:
for x in data:
    data=data[data[x]!='X']
    data=data[data[x]!='X    ']
    data=data[data[x]!='X ']
    

data

,CreditScore,FirstPaymentDate,FirstTimeHomebuyer,MaturityDate,MSA,MIP,Units,Occupancy,OCLTV,DTI,...,PostalCode,LoanSeqNum,LoanPurpose,OrigLoanTerm,NumBorrowers,SellerName,ServicerName,EverDelinquent,MonthsDelinquent,MonthsInRepayment
0,0,199902,N,202901,16974,25,1,O,89,27,...,60400,F199Q1268030,P,360,2,FL,WASHINGTONMUTUALBANK,0,0,52
1,0,199902,N,202901,19740,0,1,O,73,17,...,80200,F199Q1015092,N,360,1,FT,CHASEHOMEFINANCELLC,0,0,144
2,0,199902,N,202901,29940,0,1,O,75,16,...,66000,F199Q1266886,N,360,2,FL,WASHINGTONMUTUALBANK,0,0,67
3,0,199902,N,202901,31084,0,1,O,76,14,...,90700,F199Q1178167,N,360,2,GM,GMACMTGECORP,0,0,35
4,0,199902,N,202901,35644,0,1,O,78,18,...,7600,F199Q1178517,N,360,2,GM,GMACMTGECORP,0,0,54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291446,839,199903,N,202902,37964,0,1,O,60,32,...,19400,F199Q1220925,N,360,2,Ot,Other servicers,0,0,12
291447,840,200210,N,202904,35644,0,1,O,73,0,...,11600,F199Q1401332,P,319,2,Ot,Other servicers,0,0,53
291448,840,200304,N,202904,42044,0,1,O,73,31,...,92800,F199Q1401282,N,313,1,Ot,Other servicers,0,0,38
291449,845,199904,N,202903,37964,0,1,I,80,54,...,19300,F199Q1220924,P,360,2,Ot,Other servicers,0,0,32
291450,849,199903,N,202902,37964,0,1,O,47,29,...,18900,F199Q1220923,P,360,2,Ot,Other servicers,0,0,29

In [8]:
for x in data:
    if(data[x].dtype.name=='object'):
        print(x)
        print(data[x].unique())
        cad.append(data[x])

FirstTimeHomebuyer
['N' 'Y']
MSA
['16974' '19740' '29940' '31084' '35644' '48620' '12060' '12420' '13140'
 '13644' '15764' '16700' '16940' '17900' '19124' '20500' '20764' '21340'
 '22380' '22744' '23060' '23104' '24660' '24860' '25060' '25540' '26900'
 '27060' '27140' '27260' '28420' '29404' '30780' '31340' '33124' '33340'
 '33460' '34820' '35004' '35084' '35380' '37100' '38060' '38300' '38900'
 '39300' '39340' '39820' '40060' '40140' '40900' '41180' '41620' '41700'
 '41740' '41884' '42044' '42220' '42644' '43900' '46060' '46700' '47644'
 '47894' '49180' '49420' '12580' '14484' '14860' '17820' '19380' '19804'
 '26420' '29420' '29620' '36084' '36540' '37764' '37860' '37964' '38940'
 '45300' '48424' '19660' '11300' '11460' '12100' '12220' '12940' '13820'
 '13980' '14740' '15540' '16740' '17140' '17460' '17780' '22220' '23420'
 '23844' '24340' '24780' '26180' '27620' '28140' '31420' '31540' '34980'
 '35300' '36740' '39100' '39580' '39900' '40420' '41940' '41980' '42020'
 '45940' '47300' '49340' '15804' '15940' '29820' '32820' '35840' '36980'
 '38860' '40484' '41060' '44140' '45500' '47260' '12540' '10740' '10900'
 '11540' '12260' '12980' '14260' '14500' '16180' '16300' '18140' '21140'
 '22500' '23580' '25260' '26300' '29460' '31140' '31900' '32780' '32900'
 '33260' '33540' '33700' '34100' '34940' '36420' '37340' '37900' '39740'
 '41500' '42100' '43340' '44700' '45104' '49020' '10420' '11700' '17660'
 '19500' '20020' '36780' '40380' '36100' '42680' '45220' '48900' '22420'
 '22660' '40660' '26820' '49660' '35980' '44600' '15980' '28020' '23540'
 '12700' '45780' '47380' '24580' '18880' '44060' '26620' '19780' '40340'
 '34900' '15380' '20260' '29140' '36260' '42340' '21780' '33780' '35660'
 '29540' '42060' '10580' '34740' '24300' '28940' '14060' '22180' '45460'
 '36500' '21660' '33660' '15260' '13900' '38540' '43300' '31700' '19260'
 '41420' '11340' '31180' '32580' '24540' '18020' '18700' '47220' '11180'
 '39140' '44180' '28100' '19140' '25860' '49740' '42540' '26100' '30460'
 '29020' '47580' '27180' '15180' '20740' '40580' '13740' '13460' '20940'
 '21300' '43580' '49620' '30340' '37460' '25420' '46140' '49700' '43780'
 '47940' '43100' '26580' '19340' '31860' '17020' '34580' '10500' '18580'
 '48864' '34620' '17300' '16860' '39380' '47020' '30980' '38220' '48300'
 '38340' '22900' '41100' '42140' '31020' '44100' '46660' '13020' '25180'
 '39460' '30700' '13380' '19460' '37380' '14540' '22520' '10180' '43620'
 '46340' '14020' '45820' '12020' '16580' '11260' '27340' '28700' '46220'
 '20220' '29180' '34060' '39660' '30620' '27740' '30860' '11100' '40220'
 '29100' '16820' '30140' '26380' '30300' '17980' '21820' '28740' '16020'
 '16620' '27500' '29740' '33860' '48660' '12620' '27780' '36140' '27860'
 '17860' '46540' '45060' '48140' '25620' '33740' '41780' '11020' '40980'
 '24140' '24500' '48540' '29700' '21500' '25020' '39540' '27100' '31460'
 '23460' '22540' '37700' '41540' '41660' '44940' '22020' '22140' '30020'
 '25500' '27900' '16220' '41900' '44220' '13780' '37620' '48700' '44300'
 '24020' '17420' '21060' '31740' '19180' '29340' '33140' '15500' '41140'
 '19060' '20100' '24220' '11500' '25980' '10780' '28660' '26980' '36220'
 '10380' '49500' '21940' '32420']
Occupancy
['O' 'S' 'I']
Channel
['T' 'R' 'C' 'B']
PPM
['N' 'Y']
ProductType
['FRM  ']
PropertyState
['IL' 'CO' 'KS' 'CA' 'NJ' 'GA' 'TX' 'MD' 'MA' 'SC' 'WY' 'NC' 'AZ' 'FL'
 'IN' 'MS' 'CT' 'NY' 'WA' 'AR' 'VA' 'WI' 'MN' 'LA' 'PA' 'OR' 'RI' 'UT'
 'MI' 'OH' 'NE' 'AL' 'VT' 'HI' 'MO' 'TN' 'NV' 'PR' 'KY' 'ME' 'NH' 'NM'
 'ID' 'IA' 'MT' 'OK' 'DC' 'WV' 'ND' 'DE' 'SD' 'AK']
PropertyType
['SF' 'PU' 'CO' 'MH' 'CP' 'LH']
PostalCode
['60400' '80200' '66000' ... '63600' '64600' '62800']
LoanSeqNum
['F199Q1268030' 'F199Q1015092' 'F199Q1266886' ... 'F199Q1401282'
 'F199Q1220924' 'F199Q1220923']
LoanPurpose
['P' 'N' 'C']
NumBorrowers
['2' '1']
SellerName
['FL' 'FT' 'GM' 'Ot' 'ST' 'CR' 'CH' 'FI' 'HO' 'PR' 'NO' nan 'PN' 'WA' 'BA'
 'G ' 'OL' 'AC' 'RE' 'CO' 'BI']
ServicerName
['WASHINGTONMUTUALBANK' 'CHASEHOMEFINANCELLC ' 'GMACMTGECORP        '
 'WELLSFARGOBANKNA   ' 'Other servicers     ' 'ABNAMROMTGEGROUPINC'
 'BANKOFAMERICANA    ' 'CHASEMANHATTANMTGECO' 'HOMESIDELENDINGINC '
 'CHASEMTGECO         ' 'WELLSFARGOHOMEMORTGA' 'PRINCIPALRESIDENTIAL'
 'CITIMORTGAGEINC    ' 'JPMORGANCHASEBANKNA' 'BAMORTGAGELLC      '
 'NATLCITYMTGECO      ' 'FTMTGESERVICESINC  ' 'SUNTRUSTMORTGAGEINC'
 'FIFTHTHIRDBANK      ' 'COUNTRYWIDE         ']

In [9]:
data.dtypes

CreditScore             int64
FirstPaymentDate        int64
FirstTimeHomebuyer     object
MaturityDate            int64
MSA                    object
MIP                     int64
Units                   int64
Occupancy              object
OCLTV                   int64
DTI                     int64
OrigUPB                 int64
LTV                     int64
OrigInterestRate      float64
Channel                object
PPM                    object
ProductType            object
PropertyState          object
PropertyType           object
PostalCode             object
LoanSeqNum             object
LoanPurpose            object
OrigLoanTerm            int64
NumBorrowers           object
SellerName             object
ServicerName           object
EverDelinquent          int64
MonthsDelinquent        int64
MonthsInRepayment       int64
dtype: object

In [11]:
data.to_csv('loan data.csv')

In [12]:
data.to_excel('loan data.xlxs')

ValueError: No engine for filetype: 'xlxs'

In [ ]:
GFG=Using pd.ExcelWriter("loan data.csv"
)